{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "deps/css/profile.css" %}">
{% endblock  %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="text profile">
            <div class="profile_photo">
                {% if user.image %}
                    <img src="{{ user.image.url }}"
                        alt="Аватар пользователя" class="img-fluid rounded-circle" id="profile_in_photo">
                {% else %}
                    <img src="{% static "deps/image/defoult_profile.jpg" %}"
                        alt="Аватар пользователя" class="img-fluid rounded-circle" id="profile_in_photo">
                {% endif %}
            </div>
            <div class="profile_information">
                <p class="profile_name" type="text", name="first_name" required>{{form.first_name.value|default_if_none:' '}} {{form.last_name.value|default_if_none:' '}}</p>
                <p class="profile_username" type="text" id="id_username" name="username"required> {{form.username.value}} </p>
                <div class="profile_description text">
                    <p>{{form.about.value|default_if_none:' '}}</p>
                </div>
                {% if count > 3 %}
                    <img src="{% static "deps/image/noob.png" %}" alt="звание" class="rank_user">
                {% endif %}
            </div>
            <div>
                <a href="{% url "users:edit_profile" %}"><img src="{% static "deps/image/editor.png" %}" class="button_edit"></a>
            </div>
        </div>
    <a href="{% url "user:list_achive" %}">
        <div class="text achievements">
            <div class="achievements_header">
                <p>ДОСТИЖЕНИЯ</p>
            </div>
            <div class="achievements_medal">
                <img src="{% static "deps/image/medal.png" %}">
                
                <img src="{% static "deps/image/medal_blue_star.png" %}">
                <img src="{% static "deps/image/medal_gold_star.png" %}">
                <img src="{% static "deps/image/medal_fish.png" %}">
            </div>
        </div>
    </a>
<a href="{% url "user:list_equipments" %}">
    <div class="rectangle_equpment">
        <div class="pictures_recomendtion">
        <div class="tent_pofile">
            <img src="{% static "deps/image/tent.png" %}" id="tent_profile">
        </div>
        <div class="fishing_rod_pofile">
            <img src="{% static "deps/image/fishing_rod.png" %}" id="rod_profile">
        </div>
        <div class="boat_pofile">
            <img src="{% static "deps/image/boat.png" %}" id="boat_profile">
        </div>
        <div class="car_pofile">
            <img src="{% static "deps/image/car.png" %}" id="car_profile">
        </div>
    </div>
        <div class="text_equpment text">
            СНАРЯЖЕНИЕ
        </div>
    </div>
</a>
</form>
<a href="{% url "user:list_images" %}" class="button_uploads"><button class="text">Создать/Отредактировать</button></a>
<div class="upload_images">
    {% for image in users_uploads %}
        <img src="{{image.image.url}}" id="upload_images">
    {% endfor %}
</div>
{% endblock  %}